.attribute-heading {
	font-size: 1em;
	display: block;

	padding-top: 1em;
}

.attribute-preview {
	color: #8899a6;
	background-color: #282828;

	margin:1em;
	padding: 0.5em;
}

.attributeChangesPreviewList {
	list-style: none;

	padding: 0em;
	margin: 0em;
}
