body {
	background-color: #181818;

	font-family: sans-serif;
	color: #b3b3b3;

	margin: 0px;
}

.content {
	margin: 8px;
}

.steps {
	background-color: #000;
	width: 100%;

	display: flex;
	justify-content: space-between;
	gap: 0.2em;

	margin-left: 4px;
	margin-right: 4px;
}

.steps_step {
	width: 25%;
	height: 1.8em;
	flex: 1;

	background-color: #FFF;
	color: #000;
	text-decoration: none;

	display: flex;
	justify-content: center;
	align-items: center;

	padding-bottom: 0px;
}

.steps_active-step {
	font-weight: bold;
	font-size: 1.1em;
}

.steps_step-1 {
	background-color: #f27b3f !important; /* redish-orange */
}

.steps_step-2 {
	background-color: #f2b03f !important; /* orange */
}

.steps_step-3 {
	background-color: #F2CE3F !important; /* yellow */
}

.steps_step-4 {
	background-color: #bfbf2c !important; /* yellowy-green */
}

.steps_step-5 {
	background-color: #9fbf2c !important; /* green */
}

.steps_header-bar {
	width: 100%;
	height: 0.3em;
}

.steps_header {
	padding: 8px;
}

.steps_step-1-text {
	color: #f27b3f; /* reddish-orange */
}

.steps_step-2-text {
	color: #f2b03f; /* orange */
}

.steps_step-3-text {
	color: #F2CE3F; /* yellow */
}

.steps_step-4-text {
	color: #bfbf2c; /* green */
}

.steps_step-5-text {
	color: #9fbf2c; /* green */
}

.title {
	font-size: 3em;
	display: block;

	padding-top: 0.5em;
	padding-bottom: 0.2em;
}

.sub-title {
	font-size: 1.5em;
}

.heading {
	font-size: 1em;
	display: block;

	padding-top: 1em;
}

.properties {
	padding-top: 3em;
}

.controls {
	padding-top: 3em;
}

.control-button {
	font-weight: bold;
	width: 10em;
	height: 3em;
	cursor: pointer;
}

.json-preview {
	padding-top: 3em;
}

.json-data {
	color: #8899a6;
	font-size: x-small;
	background-color: #282828;

	margin:1em;
	padding: 0.5em;
}

.attribute-preview {
	color: #8899a6;
	background-color: #282828;

	margin:1em;
	padding: 0.5em;
}

.attributeChangesPreviewList {
	list-style: none;

	padding: 0em;
	margin: 0em;
}