body {
	background-color: #181818;

	font-family: sans-serif;
	color: #b3b3b3;
}

.title {
	color: #FFF;
	font-size: 3em;
	display: block;

	padding-top: 0.5em;
	padding-bottom: 0.2em;
}

.sub-title {
	font-size: 1.5em;
	display: block;
}

.heading {
	font-size: 1em;
	display: block;

	padding-top: 1em;
}

.properties {
	padding-top: 3em;
}

.controls {
	padding-top: 3em;
}

.json-preview {
	padding-top: 3em;
}

.json-data {
	color: #8899a6;
	font-size: x-small;
	background-color: #282828;

	margin:1em;
	padding: 0.5em;
}

.attribute-preview {
	color: #8899a6;
	background-color: #282828;

	margin:1em;
	padding: 0.5em;
}

.attributeChangesPreviewList {
	list-style: none;

	padding: 0em;
	margin: 0em;
}